@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
  display: flex;
  justify-content: center;
  background-color: #757575;
}
#main-container {
  
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #32292F;
}
header {
  margin: 1%;
  margin-bottom: 0;
  background-color: #5762D5;
}
footer {
  margin: 1%;
  background-color: #5762D5;
}
#middle-section {
  color: #32292F;
}
#top-section {
 color: #D1E3DD;
 font-size: 15px;

}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6b1cff;
  margin: 1%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  width: 10vw;
}
input {
  width: 50%;
  margin: 10%;
  border:0;
  box-shadow:0 0 15px 5px rgba(0,0,0,0.06);
  border-radius:5px;
  padding: 5px;
  
}
#background-color, #text-color, #border-color {
  padding: 0px 1px 0px 1px;
  
  border: none;
  width: 8vw;
}
#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#4c4c4c;
  padding: 1em;
  
}
#table-render-space {
  display: flex;
  align-items: center;
  height: 90%;
  background:#3a3a3a
}
#table-html-space {
  justify-items: center;
  width: 100%;
  height: 50vh;
  background: #262626;
}

textarea {
  margin: 1vh;
  width: 95%;
  height: 90%;
}
.header-text{
  font-family: 'Inconsolata', monospace;
  color: #D1E3DD;
}
.footer-text {  
  display: flex;
  justify-content: space-around;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: #D1E3DD;
}