@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}
table {
  table-layout: fixed;
  border: 1px solid black;
  padding: 1px;
  margin: 0 auto;
  background: white;
}

table td {
  overflow: hidden;
  padding: 5px;
  border: 1px solid black;
}